* {
  padding: 3px;
  margin: 0;
  box-sizing: border-box;
}

label {
  display: inline-block;
}

.loadbtn {
  pointer-events: none;
}

.backGraph {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;

}

.backGraph img{
  width: auto;
  height: auto;
  max-height: 50vh;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.foreGraph img {
  height: 100%;
  width: 100%;
  display: inline-block;
}
.foreGraph {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  resize: both;
  overflow: hidden;
  width: 30vw;
  height: 40vh;
}
.slider {
  padding: 0;
  margin: 1rem 0;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}
input{
  -webkit-appearance: slider-vertical; /* WebKit */
}
#resizeBox-2{
  left:40vw;
  top: 10vh;
  z-index: 1;
}

.control-actions-list {
  display: flex;
  align-items: center;
}

.flex-box-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tint styles */
.toggle-tint-btn {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #00f;
  margin-right: 1rem;
}

 